@import '~@angular/material/theming';

@include mat-core();

$mat-school-box: (
    50 : #6220b6,
    100 : #6220b6,
    200 : #6220b6,
    300 : #6220b6,
    400 : #6220b6,
    500 : #6220b6,
    600 : #6220b6,
    700 : #6220b6,
    800 : #6220b6,
    900 : #6220b6,
    A100 : #6220b6,
    A200 : #6220b6,
    A400 : #6220b6,
    A700 : #6220b6,
 
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$custom-primary: mat-palette($mat-school-box);

$custom-accent: mat-palette($mat-pink, A200, A100, A400);

$custom-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);

$custom-typography: mat-typography-config(
  $font-family: 'Roboto'
);
@include mat-core($custom-typography);

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f3f3;
}