<app-title-bar title="Contact List"></app-title-bar>
<div class="contacts-list-container">
  <div class="action-buttons">
    <button mat-raised-button color="primary" (click)="onAddContact()">
      <mat-icon>add</mat-icon><span>Add Contact</span>
    </button>
  </div>
  <div class="contact-list">
    <div class="contacts">
      <app-contact 
      *ngFor="let contact of contactService.contacts; let i = index" 
      [name]="contact.name" 
      [company]="contact.company" 
      [email]="contact.email" 
      [id]="i"
      ></app-contact>
    </div>
  </div>
</div>
